@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.navbar {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ) !important; /* Forces transparency */
}

.header h2 {
  font-family: "Pacifico", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.1rem;
}

.small-caps {
  font-variant: small-caps;
}
.custom-black {
  color: #393433 !important;
}

.bg-custom-black {
  background-color: #393433;
}

.header-img {
  background-image: url("./assets/venue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

.lg-font-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.scroller-img {
  background-image: url("./assets/stand_road.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 28rem;
}

/* mobile height */
@media screen and (max-width: 768px) {
  .scroller-img {
    height: 18rem;
  }
}

/* landing page filler info */
.motto {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
